@{
    ViewData["Title"] = "Home Page";
}

<form action="/home/index" method="post">
    <label>Location</label>
    <input type="text" name="location" />
    <input type="submit" />
    <div>
        
        <label>sobrequet:@ViewBag.name</label>

    </div>
    
    
</form>
