
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" action="/home/Create">

<div>
    <label>Name</label>
    <input type="text" name="Name" />
</div>

<div>
        <label>Location</label>
        <input type="text" name="Location" />
</div>

<input type="Submit" />
</form>

