@{
    ViewData["Title"] = "Home Page";
}


</<div>@ViewBag.Hello</div>
@using(Html.BeginForm())
{
    <div>
        @Html.Label("Name")
        @Html.TextBox("Name")
    </div>

    <input type="submit"/>
}