@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in ViewBag.Locations)
{


<div>@item</div>

}
<hr/>
<ol>
    @foreach (var item in ViewBag.Locations)
    {


        <li>@item</li>

    }
   
</ol>

